<div id="content">
  <div class="top-navigation">
    <p><%= link_to "Späť na vyhľadávanie", search_documents_path %></p>
  </div>
  <table id="users" class="admin_table">
    <thead>
    <tr>
      <th>Meno</th>
      <th>Email</th>
      <th>Admin?</th>
      <th>Expert?</th>
      <th>Vytvorený dňa</th>
      <th>Posledné prihlásenie</th>
      <th>Posledná IP adresa</th>
      <th>Akcie</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <% element_class = user.banned ? "class=banned" : nil %>
        <tr <%= element_class %>>
          <td><%= user.name %></td>
          <td><%= user.email %></td>

          <td><%= form_for(user) do |f| %> <%= f.check_box :admin, :class => "user_admin" %>
            <% end %></td>
          <td><%= form_for(user) do |f| %> <%= f.check_box :expert, :class => "user_expert" %>
            <% end %></td>
          <td class="date"><%= date_to_human(user.created_at) %></td>
          <td class="date"><%= date_to_human(user.last_sign_in_at) %></td>
          <% style = user.banned_ip.nil? ? nil : "style=text-decoration:line-through;" %>
          <td <%= style %>><%= user.last_sign_in_ip %></td>
          <td>
            <% unless user.banned %>
                <%= link_to 'ban účtu', ban_user_path(user), :method => :post, :class=> "account_ban", :confirm => "Naozaj chcete #{user.name} zablokovať?" %>
            <% else %>
                <%= link_to 'un-ban účtu', unban_user_path(user), :method => :post, :class=> "account_unban", :confirm => "Naozaj chcete #{user.name} odblokovať?" %>
            <% end %>
            
            <% if user.banned_ip.nil? %>
                <%= link_to 'ban IP', ban_ip_user_path(user), :method => :post, :class => "ip_ban" %>
            <% else %>
                <%= link_to 'un-ban IP', unban_ip_user_path(user), :method => :post, :class => "ip_unban", :confirm => "Naozaj IP adresu chcete #{user.last_sign_in_ip} odblokovať?" %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>