<div style="clear: both;"></div>
<div id="content" class="login">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <p><%= f.label :email, 'Email' %>
    <%= f.email_field :email %></p>

    <p><%= f.label :password, 'Heslo' %>
    <%= f.password_field :password %></p>

    <p class="indent">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Zapamätať' %>
      <%= f.submit "Prihlásiť", :class => :submit %>
    </p>

    <div id="devise_links">
      <%= link_to "Zabudli ste heslo?", new_password_path(resource_name) %> 
    </div>
  <% end %>
</div>
