<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'/>
  <title>Administrácia | otvorenezmluvy.sk</title>
  <%= stylesheet_link_tag :admin %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" %>
  <%= javascript_include_tag :admin %>
  <%= csrf_meta_tags %>
  <%= render partial: 'shared/google_analytics' %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'otvorenezmluvy.sk', root_path, class: :brand %>
      <ul class="nav">
        <%= nav_link 'Heuristiky', admin_heuristics_path %>
        <%= nav_link 'Používatelia', admin_users_path %>
        <%= nav_link 'Správa komentárov', admin_comments_path %>
        <%= nav_link 'Nastavenia systému', admin_spaceship_settings_path %>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to current_user.name, dashboard_path %></li>
        <li><%= link_to 'Odhlásiť', destroy_user_session_path %></li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>